_<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Tech Lady Hackathon + Training Day</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="javascripts/stripe.js"></script>

  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="/index">Tech Lady Hackathon + Training Day</a></h1>
        <p>A day for women from experienced coders to total newbies to gather for civic hacking and training in a supportive environment.

        <br>

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
            <form action="//techladyhackathon.us16.list-manage.com/subscribe/post?u=f6b52bf206ecba81f2bfa5c8c&amp;id=b5e4521f99" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Want Tech Lady updates? Subscribe to the mailing list.</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f6b52bf206ecba81f2bfa5c8c_b5e4521f99" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
            </form>
        </div>
        <!--End mc_embed_signup-->

        <br>

        Questions? Ideas? Contact this year's organizers <a href="https://twitter.com/AyRenay">Alexis Johnson-Gresham</a>, <a href="https://twitter.com/jessicagarson">Jessica Garson</a>, <a href="https://twitter.com/joymwhitt">Joy Whitt</a>, or <a href="https://twitter.com/datalensdc">Kate Rabinowitz</a>.</p>

        <p>
            <a href="https://twitter.com/lmwatsonn/status/790568374292152320"><img src="/images/tlh16-1.jpg"/ width="125"></a> 
            <a href="https://www.instagram.com/p/BL4nzXfjqgy/"><img src="/images/tlh16-4.jpg"/ width="125"></a>
        <br/>
            <a href="https://www.instagram.com/p/BL4zuIDjhLE/"><img src="/images/tlh16-3.jpg" width="125"></a> 
            <a href="https://twitter.com/hannah_recht/status/789872359033405440"><img src="/images/tlh16-2.jpg"/ width="125"></a>
        </p>
    </header>
<section>
